[user]
	name = bangyy
	email = bang.yy.321@gmail.com
[core]
	editor = vim
  pager = "less -r"
	excludesfile = ~/.gitignore
[merge]
	tool = vimdiff
[color]
	ui = auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	grep = auto
[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line
[pager]
	log = diff-highlight | less -r
	show = diff-highlight | less -r
	diff = diff-highlight | less -r
[alias]
	ci = commit
	co = checkout
	br = branch
	ad = add
	ap = add -p
  au = add -u
	up = pull --rebase
  ps = push
	rbm = rebase master
	di = diff
	dc = diff --cached
	st = status
	cl = clone --recursive
	ls = log --stat
	wc = whatchanged
	ss = stash
	sp = stash pop
	bl = blame
	lg = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
	lf = log --graph --name-status --pretty='format:%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset'
[push]
	default = simple
[ghq]
	root = ~/src
